.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
    background-color: var(--footer-color);
    padding: 0.75rem;
    font-size: 1.25rem;
}
